a{
    text-decoration: none;
}
body {
    height: 100vh;
    background-image: url('https://ifh.cc/g/jMewAH.jpg');
    background-repeat : no-repeat;
    background-size : cover;
  }


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;      
    padding: 8px 12px;
}
.navbar_logo{
    font-size: 32px;
    padding-left: 24px;
    color: white;
}
.navbar_logo a{
    color: white;
}
.navbar_menu{
    display: flex;
    padding-left: 0;
    list-style: none;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_menu li:hover{
    color: gray;
}
.navbar_menu a{
    color: white;
}
.navbar_lan{
    display:flex;
    list-style: none;
}
.navbar_lan li{
    padding:8px 12px;
}
.navbar_lan a {
    color: white;
}
.navbar_infor{
    background-color: white;
    border-radius: 8px;
    display: flex;
    list-style: none;
    padding: 0px 0px ;
}
.navbar_infor li{
    padding:8px 12px;
    color:black;
}
.navbar_search{
    display:none;
    background-color: white;
    align-items: center;
    text-align: center;
    color: black;
    border-radius:8px;
}
@media screen and (max-width:764px){
    .navbar_search{
        display: block;
        text-align: center;
    }
    .navbar{
        display: none;
    }
}